<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735617555649-d68vpkv9upq783b5g7je5qcv8h3dpokk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735617555649-d68vpkv9upq783b5g7je5qcv8h3dpokk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>735617555649-li5b7ok9vc48ul8svain4s4di3a1f7e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2LydEtLkeUF74IaiijPuluAezCEbiL2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>735617555649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.herokuapp.flyit</string>
	<key>PROJECT_ID</key>
	<string>flyit-e0aa3</string>
	<key>STORAGE_BUCKET</key>
	<string>flyit-e0aa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735617555649:ios:7284fbad5fabbc59</string>
	<key>DATABASE_URL</key>
	<string>https://flyit-e0aa3.firebaseio.com</string>
</dict>
</plist>